@import"../../styles/variables.scss";

.Container{
    text-align: right;



}

.slide{

    a span:first-child {
        display: inline-block;
        transition: 600ms;
        -webkit-transition: 600ms;
        -moz-transition: 600ms;
        -ms-transition: 600ms;
        -o-transition: 600ms;
}
    a {
        display: block;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        transition:600ms ;
        -webkit-transition:600ms ;
        -moz-transition:600ms ;
        -ms-transition:600ms ;
        -o-transition:600ms ;
}


    a span:last-child {
        position: absolute;
        transition: 600ms;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: right;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -webkit-transition: 600ms;
        -moz-transition: 600ms;
        -ms-transition: 600ms;
        -o-transition: 600ms;
}
    a span {
        transition: transform 0.5s ease-out;
        -webkit-transition: transform 0.5s ease-out;
        -moz-transition: transform 0.5s ease-out;
        -ms-transition: transform 0.5s ease-out;
        -o-transition: transform 0.5s ease-out;
}

    a:hover span:first-child {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }

    a:hover span:last-child {
        transform: none;

    }
    a:hover span:last-child h2{
        color: coral;

    }
}