.mars{
    position: absolute;
    height: 100%;
    width: 100%;
    max-height: 100vh;
    background:transparent;
    background-image:url(../../assets/Images/MARS.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
}